/* Top Navigation bar css */
.navbar-nav > li > form > a {
    line-height: 32px;
    font-weight: 500;
    margin-left: 0 !important;
    padding: 13px 15px 12px;
    position: relative;
    display: block;
}

.navbar-nav > li > form > a > img {
    max-width: none;
}

html,
body,
body > .container,
.main_container,
.right_col {
    height: 100%;
}


.orders-modal p {
    margin: 0;
    line-height: 1.2;
}

.orders-modal h4 {
    text-decoration: underline;
}

.orders-modal .product-table th,
.orders-modal .product-table td {
    text-align: center;
}