@model IEnumerable<Busilac.ViewModels.MaterialSalesOrdersListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles {
    <style>
        tr > th:nth-of-type(2),
        td:nth-of-type(2) {
            max-width: 300px;
        }
    </style>
}

<h1>Supplier</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Material Sales Orders</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered datatable">
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Materials (kg)</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaterialSalesOrders.OrderDate</td>
                                <td>@item.MaterialsList</td>
                                <td>@item.MaterialSalesOrders.MaterialsStatus.StatusName</td>
                                <td>
                                    @if (item.MaterialSalesOrders.StatusId == 3 || item.MaterialSalesOrders.StatusId == 4)
                                    {
                                        @Html.ActionLink("View", "Approve", new { id = item.MaterialSalesOrders.MaterialSalesOrdersId })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

